<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <div class="form">
        <div class="shape1"></div>
        <div class="shape2"></div>
        <div class="form-container">
            <form action="/login" method="post" class="form-content">
                <h1 class="title">Login</h1>
                <div class="input-box">
                    <div class="form-icon">
                        <i class="bx bx-user-circle"></i>
                    </div>
                    <div class="form-input">
                        <label for="email" class="form-label"></label>
                        <input type="email" name="email" id="email" class="input" placeholder="Email" required autocomplete="off">
                    </div>
                </div>
                <div class="input-box final-input">
                    <div class="form-icon">
                        <i class="bx bx-lock"></i>
                    </div>
                    <div class="form-input">
                        <label for="password" class="form-label"></label>
                        <input type="password" name="password" id="password" class="input" placeholder="Password" required>
                    </div>
                </div>
                <p class="signup-text">Do not have an account? <a href="/signup" class="signup-btn">Sign Up</a></p>
                <button submit="submit" class="submit-btn">Login</button>
            </form>
        </div>
        <!-- SOCIAL MEDIA CONNECTION -->
        <!--
        <div class="form-social">
            <span class="form-social-text">Our login with</span>
            <a href="#" class="form-social-icon"><i class='bx bxl-facebook'></i></a>
            <a href="#" class="form-social-icon"><i class='bx bxl-google'></i></a>
            <a href="#" class="form-social-icon"><i class='bx bxl-instagram'></i></a>
        </div>
        -->
    </div>
</body>
</html>